__pycache__/config.cpython-312.pyc
app/__pycache__/__init__.cpython-312.pyc
app/__pycache__/forms.cpython-312.pyc
app/__pycache__/models.cpython-312.pyc
app/__pycache__/routes.cpython-312.pyc
migrations/__pycache__/env.cpython-312.pyc
migrations/versions/__pycache__/8963bc9a503c_user_add.cpython-312.pyc
migrations/versions/__pycache__/ed84015569bb_role_add.cpython-312.pyc
