header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(145, 145, 145, 0.6);
    margin: 0;
    padding: 0;
}
header p{
    margin: 0;
    margin-top: 0.2em !important;
    margin-left: 10%;
    font-size: 32px;
}
.internship{
    padding: 0.2em 1em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: white;
    cursor: pointer;
    border-radius: 1.25em;
    border-color: white;
    border-width: 0.125em;
    border-style: solid;
    font-size: 1.5rem;
    margin: 0;
    color: black;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}
body{
        font-family: 'Manrope';
        color: black;
        margin: 0;
        background-image: url('../img/Vmake-1731352358\ 1.png');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
}
section{
    margin-bottom: 50px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1{
    font-size: 90px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 26px 122px;
    border-radius: 20px; 
    border-color: #FF7700;
    border-width: 2px;
    border-style: solid;
    max-width: 1066px;
    margin-top: 40px;
    margin-bottom: 15px;
    background-color: #FFF8F1;
    opacity: 0.95;
}
h2{
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-color: white;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap:60px;
    margin:0;
    padding:0;
}

li{
    margin: 0;
    padding: 0;
    width: 296px;
    height: 415px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.white{
    height: 249px;
    width: 296px;
    border-bottom: 2px solid #AAAAAA;
    margin-bottom: 5px;
}
h3, h4{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
h3{
    font-size: 24px;
    margin-bottom: 5px;
}

h4{
    color: #3C3C3C;
    font-size: 15px;
}

.exit,.create-internship,.open-internship{
    padding: 0.2em 2em;
    border: none;
    font: inherit;
    color: inherit;
    background-color: #FFF1E3;
    cursor: pointer;
    border-radius: 1.25em;
    border-color: black;
    border-width: 0.125em;
    border-style: solid;
    font-size: 1.5rem;
    margin: 0;
    color: white;
    background-color: black;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
}
.create-internship,.open-internship{
    color: black;
    background-color:#E9E9E9;
    border-color:#FF7700;
    margin-bottom: 1em
}
.open-internship{
    margin-left: auto;
}
.container {
    display: flex;
    justify-content: center;
}