body{
    font-family: 'Manrope';
    color: black;
    margin: 0;
    padding: 0;
    display: flex;            
    justify-content: center;     
    align-items: center;
    overflow-x: hidden;
}
.new-block {
    padding: 0.5em 2em;
    border: none; 
    font: inherit;
    color: inherit; 
    background-color: #FFF1E3;
    cursor: pointer; 
    border-radius: 1.25em; 
    border-color: black;
    border-width: 0.125em;
    border-style: solid;
    font-size: 1.5rem;
    margin-top: 3.125em;
    margin-bottom: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
}

.new-block:hover {
    background-color: #FFB74D; 
}

.new-block:active {
    background-color: #CC6600;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .new-block {
        padding: 0.4em 1.5em;
        font-size: 1.2rem;
        margin-top: 2em;
        margin-bottom: 0.4em;
    }
}

@media (max-width: 480px) {
    .new-block {
        padding: 0.3em 1em;
        font-size: 1rem;
        margin-top: 1.5em;
        margin-bottom: 0.3em;
    }
}


.block-bar {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100%; 
    background-color: #FFF8F1;
    z-index: 10;
}

/* Адаптивная верстка для .block-bar */
@media (max-width: 1024px) {
    .block-bar {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .block-bar {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .block-bar {
        width: 50%;
    }
}

.exit {
    padding: 0;
    border: none;
    font: inherit; 
    color: inherit;
    background-color: inherit;
    cursor: pointer;
}

.title-bar {
    padding: 0.25em 1.2em 0 0.4em;
    display: flex;
    gap: 1.2em;
    font-size: 1.5rem;
    color: #535353;
    border-bottom: 0.125em solid #DBDBDB; 
    margin-bottom: 2.5em;
    font-weight: normal;
}

/* Адаптивная верстка для .title-bar */
@media (max-width: 1024px) {
    .title-bar {
        font-size: 1.25rem;
        gap: 1em;
    }
}

@media (max-width: 768px) {
    .title-bar {
        font-size: 1rem;
        gap: 0.5em;
        padding: 0.2em 1em 0 0.3em;
    }
}

@media (max-width: 480px) {
    .title-bar {
        font-size: 0.875rem;
        gap: 0.3em;
        padding: 0.15em 0.75em 0 0.25em;
    }
}

.title-bar h4{
    margin: 0;
    padding: 0;
    margin-top: 9px;
}
.block-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:23px
}
.block-item{
    border-bottom: 2px solid #DBDBDB; 
    padding-bottom: 2px;
}

.block-item button {
    padding: 0;
    border: none;
    font: inherit; 
    color: inherit;
    background-color: inherit;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.block-item button:hover {
    background-color: #FFE4B5; /* Light background color on hover */
    color: #000; /* Change text color on hover */
}

.block-item button:active {
    background-color: #FFD700; /* Darker background color when clicked */
    color: #FFF; /* Change text color when active */
}


.hidden{
    display: none !important;
}

.off{
    background-color: black;
    opacity: 0.5 !important;
}

h1{
    font-size: 90px;
    margin: 0;
    color: #FFFFFF;
    padding: 10px 30px 13px 35px;
    border-radius: 20px; 
    border-color: #FF7700;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 72px;
    background-color: #D9D9D9;
    background-color: rgba(217, 217, 217, 0.2);
}
h2{
    font-size: 40px;
    margin: 0;
    color: #FFFFFF;
    margin-bottom: 174px;
}
.page{
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header, .titles, .buttons, .info,.prospects,.button,.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    position: relative;
    background-image: url('../img/title-1.jpg');
    background-repeat: no-repeat;
}

.info, .prospects, .button, .contact{
    width: 100vw;
    max-width: 100%;
    position: relative;
    background-repeat: no-repeat;
}
.titles, .buttons{
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center; 
}
.buttons{
    color: black;
}

.buttons button:hover {
    background-color: #FFB74D;
}

.buttons button:active {
    background-color: #CC6600;
}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.buttons {
    margin: 3.125em 10.25em 3em 10.25em;
    flex-direction: row;
    width: 90vw;
    max-width: 100%;
    gap: 2.6875em;
}

/* Адаптивная верстка для .buttons */
@media (max-width: 1024px) {
    .buttons {
        margin: 2.5em 8em 2.5em 8em;
        gap: 2em;
    }
}

@media (max-width: 768px) {
    .buttons {
        margin: 2em 5em 2em 5em;
        flex-direction: column;
        gap: 1.5em;
        width: 95vw;
    }
}

@media (max-width: 480px) {
    .buttons {
        margin: 1.5em 2em 1.5em 2em;
        gap: 1em;
        width: 100vw;
    }
}


/* Адаптивная верстка для .content */
@media (max-width: 1024px) {
    .content {
        margin-right: 50vw;
    }
}

@media (max-width: 768px) {
    .content {
        margin-right: 40vw;
    }
}

@media (max-width: 480px) {
    .content {
        margin-right: 30vw;
    }
}


.content, .setting, .trash, .on-off{
    border: none; 
    font: inherit;
    color: inherit; 
    background-color: #E6E6E6;
    cursor: pointer; 
    border-radius: 20px; 
    border-color: none;
    font-size: 20px;
    padding: 5px 11px;
}
.trash, .on-off{
    padding: 8px 11px 2px 11px;
}

section section{
    border-bottom: 2px solid #C9C9C9; 
}

:root {
    --w: 20px; /* ширина штрихов */
    --h: 5px; /* высота штрихов */
    --c: #FFF1E3; /* цвет */
}

.info-h2, .prospects-h2 {
    margin-bottom: 36px;
    color: black;
    line-height: calc(1.2em + 2 * var(--h));
    padding-bottom: calc(2 * var(--h));
    background: bottom/calc(2 * var(--w)) calc(2 * var(--h)) space no-repeat;
    --_g: calc(var(--w) / 2) top 50%, var(--c) 90%, #0000 105%;
    background-image:
        radial-gradient(var(--h) at left var(--_g)),
        radial-gradient(var(--h) at right var(--_g)),
        linear-gradient(90deg, #0000 calc(var(--w) / 2), var(--c) 0 calc(3 * var(--w) / 2), #0000 0);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-align: center;
}
p{
    margin: 0;
    font-size: 24px;
    padding-bottom: 15px;
}
.info-div, .prospects-div, .contact-data{
    padding: 20px 100px 13px 100px;
    border-radius: 20px; 
    border-color: #FF7700;
    border-width: 2px;
    border-style: solid;
    margin: 0 auto;
    margin-bottom: 101px;
    max-width: 70%;
    width: 70vw;
}

.prospects-div{
    padding: 20px 50px 13px 50px;
    max-width: 60%;
    width: 60vw;
}

.really-button {
    padding: 11px 74px;
    border-radius: 40px; 
    border-color: black;
    color: black;
    font-size: 32px;
    border-width: 2px;
    border-style: solid;
    background-color: #FF7700;
    cursor: pointer; /* Изменение курсора при наведении */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.really-button:hover {
    background-color: #e65c00; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}

.really-button:active {
    background-color: #cc4e00; /* Цвет фона при нажатии */
    color: white; /* Цвет текста при нажатии */
}

.button-a {
    margin-bottom: 90px;
}


.content-bar, .setting-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(231, 231, 231, 1);
    z-index: 10;
    width: 33%;
    padding-bottom: 6.25em; /* Переводим пиксели в относительные величины */
    box-sizing: border-box;
}

/* Адаптивная верстка для .content-bar */
@media (max-width: 1024px) {
    .content-bar,.setting-bar {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .content-bar,.setting-bar {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .content-bar,.setting-bar {
        width: 70%;
    }
}

.content-bar,.setting-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(231, 231, 231, 1);
    z-index: 10;
    width: 33%;
    padding-bottom: 6em;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .content-bar,.setting-bar {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .content-bar,.setting-bar {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .content-bar,.setting-barsetting-bar {
        width: 70%;
    }
}

.save {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    border-width: 0.125em;
    border-style: solid;
    background-color: black;
    margin-bottom: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 100%;
    border-bottom-left-radius: 0.625em;
    border-bottom-right-radius: 0.625em;
    padding-left: 0;
}

.content-bar input, .content-bar p, .setting-bar input, .setting-bar p{
    margin-left: 1em;
}

.content-bar input, textarea,.setting-bar input,.setting-bar div button {
    margin-left: 1em;
    margin-bottom: 2em;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(217, 217, 217, 1);
    width: 90%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    border-radius: 1.5em;
    box-sizing: border-box;
    border-width: 0.1em;
}

.content-bar input:hover,
.content-bar textarea:hover,
.setting-bar input:hover,
.setting-bar div button:hover {
    background-color: #FFB74D;
}

.content-bar input:active,
.content-bar textarea:active,
.setting-bar input:active,
.setting-bar div button:active {
    background-color: #FF8C00;
}

input[type = 'file']{
    border-style: solid;
    border-color: #FF7700;
    border-radius: 0 !important;
    padding-left: 5px;
}
.content-bar p, .setting-bar p{
    color: rgba(99, 99, 99, 1);
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .save {
        font-size: 1.25rem;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    }
}

@media (max-width: 768px) {
    .content-bar input {
        font-size: 1rem;
        padding-left: 0.875em;
    }
}

@media (max-width: 768px) {
    .content-bar p {
        font-size: 1.25rem;
    }
}

input[type='color'], .color-none{
    border-radius: 0 !important;
    padding: 0 !important;
    width: 45% !important;
    font-size: 16px;
}

textarea{
    font-family: 'Manrope';
    color: black;
    font-size: 1.25em;
    padding-bottom: 3em;
}

.container-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-list p{
    font-size: 20px;
}
.on-info{
    padding: 0;
    padding-bottom: 5px;
    font-weight: bold;
}
.contact-list li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}

.contact-list li{
    margin-bottom: 15px;
}

.contact-list-2 li{
    margin-bottom: 30px;
}

.contact-bar{
    overflow: auto;
}

.page-buttons{
    display: flex;
    padding: 0;   
}
.save-page, .submit-page{
    margin: 0;
    color: white;
    background-color: black;
    margin-bottom: 1em;
}

.save-page{
    margin-left: 50%;
}

.setting-bar{
    overflow: auto;
    overflow-x: hidden;
}

.setting-bar div{
    display: flex;
}

.setting-bar div div{
    display: block;
}

.setting-bar div div p{
    font-size: 20px;
    margin-right: 0.5em;
}

.setting-bar div button{
    width: auto;
    font-size: 16px;
    padding-left: 0.5em;
}

.setting-bar input[type='number']{
    width: 45%;
    font-size: 16px;
    padding-left: 0.5em;
}

.color-none:active{
    border-style: solid;
    border-color: #FF7700;
}

.block {
    width: 100%;
}

/* button:focus{
    border-style: solid;
    border-color: #FF7700;
} */