<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
    <title>Стажировки</title>
</head>
<body>
<main>
    <section class="sect-info">
        <div class="company-name"><p>Uralintern</p></div>
        <div class="info">
            <p>Сайт с шаблонами для создания плана стажировок</p>
            <img src="{{ url_for('static', filename='img/decor-index.png') }}" width="365" height="218">
        </div>
    </section>
    <section class="reg">

        <form action="" method="post">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p>{{ messages[0] }}</p>
            <br>
            {% endif %}
            {% endwith %}
            {{ form.hidden_tag() }}
            {{ form.username(class_='field', placeholder_='Логин') }}
            {{ form.password(class_='field', placeholder_='Пароль') }}
            {{ form.submit(class_='field submit') }}
            <a href="{{ url_for('registration') }}" class = 'field submit button' >Зарегистрироваться</a>
        </form>
    </section>
</main>
</body>
</html>