<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/internship-style.css') }}">
  <title>Шаблоны</title>
</head>
<body>
    <main>
        <section class="hero">
          <h1 class = 'inter-h1'>Новая стажировка</h1>
          <h2>Выберите новый шаблон и адаптируйте его под ваши цели</h2>
        </section>
        <section class="samples">
          <ul class="sample-list">
            <li class="sample-item">
              <a href="sample-0-prot.html" class="list-item">
                <div class = 'white'></div>
                <h3>Пустая страница</h3>
                <h4>Для тех, кто хочет начать с нуля</h4>
              </a>
            </li>
            <li class="sample-item">
              <a href="#" class="list-item">
                <img src="../static/img/sample-1.jpg" height="249px" width="296px" class = 'white'>
                <h3>Универсальный шаблон</h3>
                <h4>Для любой стажировки</h4>
              </a>
            </li>
            <li class="sample-item">
              <a href="#" class="list-item">
                <img src="../static/img/sample-2.jpg" height="249px" width="296px" class = 'white'>
                <h3>Универсальный шаблон</h3>
                <h4>Для любой стажировки(Темная тема)</h4>
              </a>
            </li>
            <li class="sample-item">
              <a href="#" class="list-item">
                <img src="../static/img/sample-3.jpg" height="249px" width="296px" class = 'white'>
                <h3>Универсальный шаблон</h3>
                <h4>Креативное размещение в блоках</h4>
              </a>
            </li>
          </ul>
        </section>
    </main>
</body>
</html>