<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/internship-style.css') }}">
  <title>Личный кабинет</title>
</head>
<body>
  <header>
    <button class="exit" onclick="exit()">Выход</button>
    <p class="lk">Личный кабинет</p>
    <a href="{{ url_for('PA_record_student') }}" class="internship">Записи на стажировки</a>
  </header>
    <main>
        <section class="hero">
          <h1 class = 'inter-h1'>Доступные стажировки</h1>
          <h2>Выберите то, что вам подходит</h2>
        </section>
        <section class="internships">
            <ul class="'internship-list">
                {% for item in data %}
                <li class="internship-el">
                  <a href="{{ url_for('sample') }}/{{ item.id }}" class='white'>
                    <img src="{{ url_for('static', filename='img/decor-index.png') }}" height="249px" width="296px" class='white'>
                    <h3>{{ item.name }}</h3>
                  </a>
                </li>
                {% endfor %}
<!--                <li class="internship-el">-->
<!--                  &lt;!&ndash; <a href="#" class='white'>-->
<!--                    <img src="#">если нет картинки передавай элементу background-color-->
<!--                    <h3>Залоговок из стажировки</h3>-->
<!--                  </a> &ndash;&gt;-->
<!--                </li>-->
<!--                <li class="internship-el"></li>-->
<!--                <li class="internship-el"></li>-->
<!--                <li class="internship-el"></li>-->
            </ul>
        </section>
    </main>
</body>
<script src="{{ url_for('static', filename='js/exit.js') }}"></script>
</html>