<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/sample-style-prot.css">
    <link rel="stylesheet" href="../static/css/sample-style-prot.css">
    <title>Конструктор</title>
</head>
<body>
    <main>
        <section class="page"></section>
        <button class="new-block">Добавить блоки</button>
        <section class="block-bar hidden">
            <div class="title-bar">
                <h4>Библиотека шаблонов</h4>
                <button class="exit"><img src = '../static/img/cross.svg' height="48px" width="51px"></button>
            </div>
            <ul class="block-list">
                <li class="block-item">
                    <button class="title-button">Обложка</button>
                </li>
                <li class="block-item">
                    <button class="info-button">Информация о компании</button>
                </li>
                <li class="block-item">
                    <button class="work-button">Перспективы дальнейшей работы</button>
                </li>
                <li class="block-item">
                    <button class="button-button">Кнопка</button>
                </li>
                <li class="block-item">
                    <button class="contact-button">Контакты</button>
                </li>
            </ul>
        </section>
        <section class="header hidden">
            <div class="buttons">
                <button class="header-setting setting">Настройки</button>
                <button class="header-content content" onclick="{document.querySelector('.header-bar').classList.remove('hidden');}">Контент</button>
                <button class="trash"><img src = '../static/img/trash.svg' height="25px" width="23px"></button>
                <button class="on-off"><img src = '../static/img/on-off.svg' height="26px" width="23px"></button>
            </div>
            <div class="titles">
                <h2 class="title-0">Надзаголовок</h2>
                <h1 class="title-1">Заголовок</h1>
                <h2 class="tile-2">Описание</h2>
            </div>
            <div class="content-bar header-bar hidden">
                <button class="save" onclick="headerClick()">Сохранить</button>
                <p>Надзаголовок</p>
                <input type="text" value="Надзаголовок" class="input-title-0">
                <p>Заголовок</p>
                <input type="text" value="Заголовок" class="input-title-1">
                <p>Описание</p>
                <input type="text" value="Описание" class="input-title-2">
                <p>Фоновое изображение</p>
                <input class="input-img" type="file" value="Загрузить файл">
                <p>Только цвет</p>
                <input type="color" class="head-color" name="head" value="#"/>
            </div>
        </section>
        <section class="info hidden">
            <div class="buttons">
                <button class="info-setting setting">Настройки</button>
                <button class="info-content content">Контент</button>
                <button class="trash"><img src = '../static/img/trash.svg' height="25px" width="23px"></button>
                <button class="on-off"><img src = '../static/img/on-off.svg' height="26px" width="23px"></button>
            </div>
            <div class="info-div">
                <h2 class="info-h2">Информация о компании</h2>
                <p class="info-p">Текст</p>
            </div>
        </section>
        <section class="prospects hidden">
            <div class="buttons">
                <button class="info-setting setting">Настройки</button>
                <button class="info-content content">Контент</button>
                <button class="trash"><img src = '../static/img/trash.svg' height="25px" width="23px"></button>
                <button class="on-off"><img src = '../static/img/on-off.svg' height="26px" width="23px"></button>
            </div>
            <div class="prospects-div">
                <h2 class="info-h2">Перспективы</h2>
                <p class="info-p">Текст</p>
            </div>
        </section>
        <section class="button hidden">
            <div class="buttons">
                <button class="info-setting setting">Настройки</button>
                <button class="info-content content">Контент</button>
                <button class="trash"><img src = '../static/img/trash.svg' height="25px" width="23px"></button>
                <button class="on-off"><img src = '../static/img/on-off.svg' height="26px" width="23px"></button>
            </div>
            <button class="really-button">Кнопка</button>
        </section>
        <section class="contact hidden">
            <div class="buttons">
                <button class="info-setting setting">Настройки</button>
                <button class="info-content content">Контент</button>
                <button class="trash"><img src = '../static/img/trash.svg' height="25px" width="23px"></button>
                <button class="on-off"><img src = '../static/img/on-off.svg' height="26px" width="23px"></button>
            </div>
            <div class="contact-div">
                <div class="contact-data">
                    <h2 class="info-h2">Контакты</h2>
                    <!-- <ul class="contact-list">
                        <li></li>
                    </ul> -->
                </div>
                <div class="map"></div>
            </div>
        </section>
    </main>
</body>
<script src="../static/js/new-block.js"></script>
<script src="../static/js/content-bar.js"></script>
</html>
